<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ybook.app"
        >

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ui.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.FeedBackActivity"
                android:theme="@style/AppTheme.Translucent"/>
        <activity
                android:name=".ui.search.SearchActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.Translucent"
                />
        <activity
                android:name=".ui.BookDetailActivity"
                android:theme="@style/AppTheme.Translucent"/>
        <activity
                android:name=".ui.BookListActivity"
                android:theme="@style/AppTheme.Translucent"/>
        <activity android:name=".ui.NewBookListActivity"
                  android:theme="@style/AppTheme.Translucent"/>

        <meta-data
                android:value="5483e6cffd98c54236000670"
                android:name="UMENG_APPKEY"/>
        <meta-data
                android:value="pre release"
                android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
